<div class="container-fluid">
    <nav class=" mt-1 navbar navbar-expand-lg bg-info navbar-dark success-color rounded">
      <!-- Brand -->
      <img class="rounded-circle" src="/assets/job-logo.png" alt="somthing" id="logobrand"><a class="navbar-brand "
        id="logo"><B>HIREMEE</B></a>
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <!-- Dropdown -->
        <li class="nav-item">
          <a routerLink="/dash" class="nav-link p-3"> <i class="fa fa-briefcase"></i> Dashboard</a>
        </li>
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                {{username2}}
              </a>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/rec"> Profile</a></li>
                <li><a class="dropdown-item" routerLink="/post">POst Jobs</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
              </ul>
            </div>
    
        <li class="nav-item">
          <a  style="cursor: pointer;" class="nav-link p-3"routerLink="/dash"> <i class="fa fa-sign-out"></i> Logout</a>
        </li>
      </ul>
    </nav>
  </div>
  <table class="table mt-5">
    <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Company</th>
            <th scope="col">Username</th>
            <th scope="col">Graduation</th>


            <th scope="col">Action</th>




        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of Info">
            <td>{{data.name}}</td>

        <td>{{data.email}}</td>
        <td>{{data.company}}</td>
        <td>{{data.username}}</td>
        <td>{{data.grad}}</td>
        <td><button type="button" (click)="onEdit(data)"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Background verification</button></td>

        <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Start Onboarding</button></td>

        </tr>
    </tbody>
</table> 
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Required details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formval">
              <div class="mb-3">
                <label for="firstName" class="form-label">CompanyName</label>
                <input type="text" class="form-control" id="cname" aria-describedby="emailHelp"formControlName="company">
              </div>

  
                <div class="mb-3">
                  <label for="firstName" class="form-label">Name</label>
                  <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp"formControlName="name">
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label">UserName</label>
                  <input type="text" class="form-control" id="lastname"formControlName="user">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email"formControlName="email">
                  </div>

  
  
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>


          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"(click)="Login()">Start verification</button>



        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Required details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formval1">
              <div class="mb-3">
                <label for="firstName" class="form-label">CompanyName</label>
                <input type="text" class="form-control" id="cname" aria-describedby="emailHelp"formControlName="company">
              </div>

  
                <div class="mb-3">
                  <label for="firstName" class="form-label">Name</label>
                  <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp"formControlName="name">
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label">UserName</label>
                  <input type="text" class="form-control" id="lastname"formControlName="user">
                </div>
                <div class="mb-3">
                    <label for="verification" class="form-label">verification Status</label>
                    <input type="text" class="form-control" id="email"formControlName="verification">
                  </div>
                  <div class="mb-3">
                    <label for="verification" class="form-label">Onboarding date</label>
                    <input type="date" class="form-control" id="email1"formControlName="date">
                  </div>



  
  
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>


          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"(click)="sendApp()">Share onboarding date</button>



        </div>
      </div>
    </div>
  </div>





  