<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HIREMEE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/postj">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/about">About us</a>
          </li>
         <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page"routerLink="/hiri">Hiring partners</a>
          </li>-->


          <!--<li class="nav-item">
            <a class="button" routerLink="/jobs">Job</a> 
  
          </li>-->
         <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Jobs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>-->
         <!---<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Jobs
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>-->
        </ul>
        <form class="d-flex">
         <button class="btn btn-outline-primary"> <a class="button" routerLink="/login">Admin Login</a> </button>
  
        </form>||
        <form class="d-flex">
            <button class="btn btn-outline-success"><a class="button" routerLink="/recruit">Recruiter Login</a> </button>
    
          </form>
  
        <!--<form class="d-flex">
          <a class="button button-primary" routerLink="/Login">Register</a> 
  
        </form>-->
  
      </div>
    </div>
  </nav>
    <div class="card text-center">
        <div class="card-header">
          ABOUT US
        </div>
        <div class="card-body">
          <h1 class="card-title">ABOUT</h1>
          <p class="card-text"style="font-size:20px">With over 1.5 million engineers alone graduating every year from colleges and universities spread across the country, and over five thousand software companies vying for them, the logistics of entry-level recruitment in India are daunting, to say the least - both for recruiters as well as job-seekers. By all accounts, this challenge is only going to get more acute in the coming years, as the workforce in the knowledge industries expands to several times its current figure.

            With the help of novel evaluation methods and innovative use of technology, eLitmus is able to solve both sides of this problem effectively. For recruiters, we provide a way to reach out to candidates from across India, any time of the year, using standardized evaluation criteria - all without any of the attendant logistical hassles, and with tremendous savings in cost and effort. For job-seekers, we provide a one-stop-shop where they have access to dozens of employers from across the country, based on a completely objective and standardized score, dramatically improving their chances of finding that right first job, with much less effort.
            
            If you are a recruiter, we offer you compelling reasons to consider our end-to-end services for all your entry-level hiring needs. If you are a recent graduate, your search for that dream job ends here - a pH Score is your ticket to the best employers in the Indian industry, all at one place.</p>
          
        </div>
        <div class="card-footer text-muted">
          
        </div>
      </div>
      