<div class="container-fluid">
    <nav class=" mt-1 navbar navbar-expand-lg bg-info navbar-dark danger-color rounded">
      <!-- Brand -->
      <img class="rounded-circle" src="/assets/job-logo.png" alt="somthing" id="logobrand"><a class="navbar-brand "
        id="logo"><B>HIREMEE</B></a>
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <!-- Dropdown -->
        <li class="nav-item">
          <a routerLink="/post1" class="nav-link p-3"> <i class="fa fa-briefcase"></i> Dashboard</a>
        </li>
        <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle p-3"  id="navbardrop" data-toggle="dropdown" style="cursor: pointer;">
             <i class="fa fa-building">{{username1}}</i>
            </a>
            </li>-->
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                {{user2}}
              </a>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/emp"> Profile</a></li>
                <li><a class="dropdown-item" routerLink="/applied">Applied jobs</a></li>
                <li><a class="dropdown-item" routerLink="/interview">Application status</a></li>
                <li><a class="dropdown-item" routerLink="/fur">Further Process</a></li>
                <li><a class="dropdown-item" routerLink="/hire">Onboarding details</a></li>



              </ul>
            </div>
    
        <li class="nav-item">
          <a  style="cursor: pointer;" class="nav-link p-3" routerLink="/post1"> <i class="fa fa-sign-out"></i> Logout</a>
        </li>
        <!-- <li class="nav-item">
            <a routerLink="/login/emp_login" class="nav-link p-3" > <i class="fa fa-lock"></i> LOGIN</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register/emp_register" class="nav-link p-3 " ><i class="fa fa-address-book" aria-hidden="true"></i>REGISTER</a>
          </li> -->
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle p-3"  id="navbardrop" data-toggle="dropdown" style="cursor: pointer;">
              <i class="fa fa-user"></i>Hi, {{username}}
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-light">
              <a class="dropdown-item p-2" (click)="gotoprofilepage()" style="cursor: pointer;">Profile</a>
              <a class="dropdown-item p-2" (click)="logoutemployee()" style="cursor: pointer;">LOGOUT</a>
            </div>
          </li> -->
      </ul>
    </nav>
  </div>
  

<!--<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
        aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="col-sm-12">
              <label for="username"><b>UserName:</b></label><br>
              <input type="text" name="username" id="username" class="form-control" value={{user2}}
                disabled>
            </div>
            <div class="col-sm-12" *ngFor="let data of profileinfo">

              <label for="mobile"><b>Interview date</b></label><br>
              <input type="date" name="date" id="date" class="form-control" value={{data.date}} disabled>
            </div>
            <!-- <div class="col-sm-12">
              <label for="password"><b>Password:</b></label><br>
              <input type="password" name="password" id="password" class="form-control" value={{profileinfo.password}}
                disabled>
            </div> 
            <div class="col-sm-12" *ngFor="let data of profileinfo">

              <label for="interview"><b>Interview venue</b></label><br>
              <input type="text" name="venue" id="venue" class="form-control" value={{data.venue}} disabled>
            </div>

          </div>
          

      
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie
      locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
      blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
      Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
      PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
      salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
      sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
      stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape
      wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
      lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
      locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
      squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
      etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
      stumptown. Pitchfork sustainable tofu synth chambray yr.
    </div>
  </div>-->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Application under screening</button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Shorlisted</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Rejected Application</button>
    </li>


  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <div class="card" style="width:600px;background-color:antiquewhite">
        <div class="col-sm-12">
            <label for="username"><b>UserName:</b></label><br>
            <input type="text" name="username" id="username" class="form-control" value={{user2}}
              disabled>
          </div>
          <div class="col-sm-12" *ngFor="let data of profileinfo">

            <label for="mobile"><b>Interview date</b></label><br>
            <input type="date" name="date" id="date" class="form-control" value={{data.date}} disabled>
          </div>
          <!-- <div class="col-sm-12">
            <label for="password"><b>Password:</b></label><br>
            <input type="password" name="password" id="password" class="form-control" value={{profileinfo.password}}
              disabled>
          </div> -->
          <div class="col-sm-12" *ngFor="let data of profileinfo">

            <label for="interview"><b>Interview venue</b></label><br>
            <input type="text" name="venue" id="venue" class="form-control" value={{data.venue}} disabled>
          </div>
          </div>
          













    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <div class="card" style="width:600px;background-color:antiquewhite">
      <div class="col-sm-12">
        <label for="username"><b>UserName:</b></label><br>
        <input type="text" name="username" id="username" class="form-control" value={{user2}}
          disabled>
      </div>
      <!-- <div class="col-sm-12">
        <label for="password"><b>Password:</b></label><br>
        <input type="password" name="password" id="password" class="form-control" value={{profileinfo.password}}
          disabled>
      </div> -->
      <div *ngIf="profileinfo1">
        <div class="mb-3"*ngFor="let data1 of profileinfo1">
          <label for="company-name">Company name: </label>
          <input id="company-name" value="{{data1.company}}" />
        </div>
        <div class="col-sm-12" *ngFor="let data1 of profileinfo1">
          <label for="screening"><b>Application:</b></label><br>
          <input type="text" name="username" id="username" class="form-control" value={{data1.screening}}
            disabled>
        </div>
  
    
      
      </div>
      </div>
      
    
















    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="card" style="width:600px;background-color:antiquewhite">
      <div class="col-sm-12">
        <label for="username"><b>UserName:</b></label><br>
        <input type="text" name="username" id="username" class="form-control" value={{user2}}
          disabled>
      </div>
      <!-- <div class="col-sm-12">
        <label for="password"><b>Password:</b></label><br>
        <input type="password" name="password" id="password" class="form-control" value={{profileinfo.password}}
          disabled>
      </div> -->
      <div *ngIf="profileinfo2">
        <div class="mb-3"*ngFor="let data2 of profileinfo2">
          <label for="company-name">Company name: </label>
          <input id="company-name" value="{{data2.company}}" />
        </div>
        <div class="col-sm-12" *ngFor="let data2 of profileinfo2">
          <label for="screening"><b>Rejection cause:</b></label><br>
          <input type="text" name="username" id="username" class="form-control" value={{data2.reject}}
            disabled>
        </div>
  
    
      
      </div>
      <div *ngIf="!profileinfo2">
        <h1>No rejected Application</h1></div>

    
















    </div>
 
      
      
      
      
      
      .</div>
      </div>

        
        
        
        
        
        
    
  
  
